extends layout 

block content
    .input-screen
        .name-container
            h1 Enter Player Name
            input(type="text", id="playerName", placeholder="" required)
            button#login-button.home-button Done
    script(src='/js/input.js')