doctype html
html
  head
    title Who Wants to Be a Millionaire
    link(rel='stylesheet', href='/styles.css')
    script(type='text/hyperscript', src='/hyperscripts/script._hs')
    script(src='https://unpkg.com/hyperscript.org@0.9.13')
  body
    block content
